body{
    background-image: url('background.jpg');
    margin: 0 auto;
	max-width: 1200px;
	padding: 20px;
	border: 1px solid #ccc;
}
.comic-sans {
    font-family: Comic Sans MS, cursive, sans-serif;
    font-size: 48px;
    text-align: center;
    color: #333;
    text-shadow: 2px 2px #ddd;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 5px 5px #ddd;
}

.smaller-name {
    font-family: Comic Sans MS, cursive, sans-serif;
    font-size: 24px;
    text-align: center;
    color: #333;
    margin-top: 10px;
}
ol.references {
    list-style: none;
    counter-reset: li;
    margin: 0;
    padding: 0;
  }
  
  ol.references li:before {
    content: counter(li) ".";
    counter-increment: li;
    font-weight: bold;
    margin-right: 5px;
  }
  
  ol.references li {
    margin-bottom: 10px;
  }
  
  h2.references-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .large-font {
    font-size: 20px;
  }
  p {
    line-height: 1.5;
    text-align: justify;
  }
  #svg-container {
    margin-left: 200px;
  }
  .cbCollapseRow {
    display: flex;
  }
  
  .cbCollapse {
    background-image: url('arrow.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    cursor: pointer;
    padding: 35px;
    border: none;
    margin-bottom: 10px;
  }
  .content {
    width: 100%;
    padding: 10px 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }