<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research">Research</a></li>
	        		<li><a href="/education">Education</a></li>
				<li><a href="/imp_links">Important links</a></li>
				<li><a href="/about">About me</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<!--<li><a href="mailto:suraj.khurana@iitrpr.ac.in">suraj[dot]khurana[dot]ac[dot]in</a></li>-->
	        		<li><a href="https://suraj-singh-khurana.github.io/">Home</a></li>
				</ul>
			</footer>
		</body>
	</html>
